body {
    text-align: center;
    font-family: Arial;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 2em 0 1.25em;
    color: deeppink;
}

h2:first-of-type {
    margin: 2em 0 1.25em;

}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 4em;
    font-size: 18px;
}

input[type=color] {
    width: 45px;
    height: 45px;
}

label{
    font-size: 18px;
    margin-right: .75--em;
}